@import './chunks/nprogress'
@import './chunks/blocks'
@import './chunks/typography'
@import './chunks/input'
@import './chunks/select'
@import './chunks/button'
@import './chunks/table'

*
	box-sizing: border-box

body
	color: $blackColor
	font-size: 14px

form
	button:last-child
		float: left