$black: #263238
$black: #455b66
$grey: #93999c
$white: #fff
$primary: #f151b1
$info: #209cee
// $danger: #ff3860
$danger: #ff2c57
$salad: #9fffa0
$borderColor: rgba($black, 0.15)
$menuLinkColor: $black

$freeSpace: 20px