.toast
	padding: 15px
	background: rgba($blackColor, 0.95)
	border-radius: 2px
	cursor: default
	box-shadow: 2px 3px 5px rgba(0,0,0,.35)
	&:not(:first-child)
		margin-top: 7px
	&.default
		color: $whiteColor
	&.info
		color: $infoColor
	&.success
		color: $successColor
	&.warning
		color: $warningColor
	&.danger
		color: lighten($dangerColor, 20%)
		// color: #fd8199
.inner
	display: flex
.icon
	margin-right: 15px
	transform: translateY(-1px)
.content
	font-size: 14px

// .toast
// 	padding: 10px
// 	background: rgba($whiteColor, 1)
// 	border-radius: 2px
// 	cursor: default
// 	box-shadow: 2px 3px 7px rgba($blackColor, 0.35)
// 	&:not(:first-child)
// 		margin-top: 7px
// 	&.default
// 		color: $blackColor
// 		border: 1px solid rgba($black, 0.35)
// 	&.info
// 		color: darken($infoColor, 25%)
// 		border: 1px solid rgba(darken($infoColor, 25%), 0.5)
// 	&.success
// 		color: darken($successColor, 37.5%)
// 		border: 1px solid rgba(darken($successColor, 37.5%), 0.5)
// 	&.warning
// 		color: #ffa700
// 		border: 1px solid rgba(#ffa700, 0.5)
// 	&.danger
// 		border: 1px solid rgba($dangerColor, 0.35)
// 		color: lighten($dangerColor, 0%)
// 		// color: #fd8199
// .inner
// 	display: flex
// .icon
// 	margin-right: 15px
// 	transform: translateY(-1px)
// .content
// 	font-size: 14px