.image
	max-height: 97.5vh
	border: 1px solid rgba($blackColor, 0.25)
	box-sizing: border-box

@media screen and (min-width: 1700px)
	.image
		min-height: auto
		max-width: 50%

.image-double
	&:first-child
		border-right: none
	&:last-child
		border-left: none