.relation
	// max-height: 90vh
	// text-align: center
	// overflow: hidden

.ratio
	padding-top: 65.88%
	// padding-top: 90vh

.image
	// max-width: 50%
	max-height: 100%
	border: 1px solid rgba($blackColor, 0.25)
	box-sizing: border-box

.image-double
	&:first-child
		border-right: none
	&:last-child
		border-left: none

.transition
	animation-duration: 100ms
	animation-delay: 100ms

.preloaded
	display: none

.nav-buttons
	text-align: center