$placeholderColor: lighten($blackColor, 25%)

.control.has-icons-left,
.control.has-icons-right
	.icon
		color: $placeholderColor
		z-index: 0
	.input.is-danger
		border-color: rgba($dangerColor, 0.75)
	.has-text-danger
		font-size: 13px

.input.is-active,
.input.is-focused,
.input:active:not(.is-static),
.input:focus:not(.is-static),
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus
	border-color: $primaryColor
	box-shadow: 0 0 0 0.125em rgba($primaryColor, 0.25)
	& + .icon
		color: $blackColor !important
	&.is-danger
		border-color: rgba($dangerColor, 0.75)
		box-shadow: 0 0 0 0.125em rgba($dangerColor, 0.35)
		& + .icon
			color: $dangerColor !important

.input
	&::-webkit-input-placeholder
		color: $placeholderColor
	&:-moz-placeholder
		color: $placeholderColor
		opacity: 1
	&::-moz-placeholder
		color: $placeholderColor
		opacity: 1
	&:-ms-input-placeholder
		color: $placeholderColor
	&::-ms-input-placeholder
		color: $placeholderColor
	&::placeholder
		color: $placeholderColor

.label
	color: $blackColor

.input-error
	display: block

.file-cta
	color: $blackColor
	.icon
		color: $blackColor

.react-datepicker
	&-wrapper, &__input-container
		display: block !important
	&__day--keyboard-selected,
	&__day--selected,
	&__day--in-selecting-range,
	&__day--in-range
		background-color: $primaryColor !important