body:not(.is-scrolled) {
	#nprogress {
		.bar {
			background: rgba($primary, 0.75) !important;
		}

		.peg {
			box-shadow: 0 0 5px rgba($white, 0.85), 0 0 5px rgba($white, 0.85) !important;
		}

		.spinner-icon {
			border-top-color: rgba($primary, 0.75) !important;
			border-left-color: rgba($primary, 0.75) !important;
		}
	}
}

body.is-scrolled {
	#nprogress {
		.bar {
			background: rgba($white, 0.85) !important;
		}

		.peg {
			box-shadow: 0 0 5px rgba($white, 0.85), 0 0 5px rgba($white, 0.85) !important;
		}

		.spinner-icon {
			border-top-color: rgba($white, 0.85) !important;
			border-left-color: rgba($white, 0.85) !important;
		}
	}
}